*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: whitesmoke;
}

p.timelabel {
  text-align: left;
}


/* 
.text-area{
  height: 6rem;
  width: 30rem;
  background: transparent;
  border: 2px solid lightgray;
  resize: none;
  color: #000000;
  padding: 10px;
  text-align: center;
  color: black;
}

.container {
  height: 60rem;
  text-align: center;
  align-items: center;
  color: black;
  
}
*/
.jumbotron {
 /* text-align: center;
  color: black;
  border-radius: 0;*/
  border-bottom: 1px solid rgb(141, 141, 141);
  /*padding-bottom: 20px;*/
}

.description{
  white-space: pre-wrap;
}

/* #dayblock {
  height: 55rem;
} */

/* .btn, .btn-large, .btn-small, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: green; 
*/
.timeblock {
  background-color: transparent;
  border-style: solid;
  border-width: 1px 1px .5px 1px;
  border-color: rgb(141, 141, 141);
  align-items: center;
  text-align: center;
  height: 8rem;
  width: auto;
  margin: auto;
  padding: auto;
}
/*
.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
*/
/* Digital Clock */

.clock {
  margin-top: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 2rem;
  letter-spacing: 4px;
}
