body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
.grid-container {
  display: grid;
  padding: 2em;
}
/* .grid-container--fill {
  grid-template-columns:
  repeat(auto-fill, minmax(100px, 1fr));
}
.grid-container--fit {
  grid-template-columns:
  repeat(auto-fit, minmax(100px, 1fr));
} */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  text-align: center; 
  font-size: 1.5rem;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.description{
  white-space: pre-wrap;
}
.time-block{
  text-align: center;
  border-radius: 15px;
  height: 80px;
  position: relative;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.5rem;
  min-width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Use of .hourparent and position, top, left, transform in .hour allow hours to be centered. http://css-workshop.com/css-center-textimagediv-in-middle-of-parent-div-container/ */
.hourparent {
  height: 80px;
  position: relative;
  border-top: 1px dashed #000000;
}
.past {
  background-color: #d3d3d3;
  color: black;
}
.present {
  background-color: #ff6961;
  color: black;
}
.future {
  background-color: #77dd77;
  color: black;
}
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
/* Digital Clock */
.clock {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 4px;
}
